<section class="hero">
  <div class="hero__content">
    <div class="hero__text">
      <div class="hero__text-bg"></div>
      <div class="hero__media-text" #heroText>#1 Media Marketplace for Advertisers & Agencies</div>
      <div class="hero__subtitle" #heroText>Bigger Impact</div>
      <h1 class="hero__title" #heroText>Stronger Campaigns</h1>
      <div class="hero__desc" #heroText>Smarter Media Buying</div>
    </div>
    <div class="hero__image-wrapper">
      <button class="hero__img-btn hero__img-btn--primary" #heroBtn>Start your journey!</button>
      <img class="hero__image" src="assets/images/collaborations.png" alt="Collaboration" #heroImage />
      <button class="hero__img-btn hero__img-btn--secondary" #heroBtn>
        <img src="assets/images/play-button.png" alt="Play" class="hero__play-icon" />
        Learn More
      </button>
    </div>
  </div>
  <div class="hero__banners">
    <div class="hero__banner hero__banner--top" #heroBanner>
      We simplify media buying with smarter strategies, seamless execution, and measurable impact.
    </div>
    <div class="hero__banner hero__banner--bottom" #heroBanner>
      Coming soon: Smarter media solutions for agencies and media owners!
    </div>
  </div>
</section> 